
.post{
    background-color: var(--bg-post-color);
    border-radius: 10px;
}
.img-user{
    width: 45px;
    height: 45px !important;
    cursor: pointer;
}
.img{
    display: inline-flex;
}
.date{
    color: var(--fg-date-color);
}
.corazon{
    color: var(--fg-heart-default-color);
    transition: height 0.2s;
}
.corazon.liked{
    color: var(--fg-heart-liked-color);
}
.comentario{
    color: var(--fg-heart-default-color);   
    transition: height 0.2s;
}
.saveIcon{
    color: var(--fg-heart-default-color);
    transition: height 0.2s;
}
.saveIcon.saved{
    color: var(--fg-date-color);
}

.comments{
    /* background-color: lightblue; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 0;
    transition: height 0.2s;
    position: relative;
}
.comments.active{
    height: 350px;
    transition: height 0.5s;
}
.comments::-webkit-scrollbar{
    width: 10px;
}
.commentsSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editorSection{
    position: sticky;
    bottom: 0;
    background-color: var(--bg-post-color);
    max-height: 200px;
}
.editorSection.dark{
    background-color: var(--bg-dark-post-color);
}
.max-height{
    max-height: 200px !important;
    overflow-y: scroll;
}


@media (min-width:835px) {
    .corazon:hover{
        height: 22px;
        transition: height 0.2s;
    }
    .comentario:hover{
        height: 22px;
        transition: height 0.2s;
    }
    .saveIcon:hover{
        height: 22px;
        transition: height 0.2s;
    }
}