
.post{
    background-color: var(--bg-post-color);
    border-radius: 10px;
}
.img-user{
    width: 45px;
    height: 45px !important;
    cursor: pointer;
}
.img{
    display: inline-flex;
}
.date{
    color: var(--fg-date-color);
}
.corazon{
    color: var(--fg-heart-default-color);
    transition: height 0.2s;
}
.corazon.liked{
    color: var(--fg-heart-liked-color);
}
.comentario{
    color: var(--fg-heart-default-color);   
    transition: height 0.2s;
}
.saveIcon{
    color: var(--fg-heart-default-color);
    transition: height 0.2s;
}
.saveIcon.saved{
    color: var(--fg-date-color);
}
@media (min-width:835px) {
    .corazon:hover{
        height: 22px;
        transition: height 0.2s;
    }
    .comentario:hover{
        height: 22px;
        transition: height 0.2s;
    }
    .saveIcon:hover{
        height: 22px;
        transition: height 0.2s;
    }
}